<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credit Card System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Credit Card System</h1>

<form action="#" th:action="@{/card}" th:object="${creditCardInput}" method="post">
    <p>Name <input type="text" th:field="*{name}" /></p>
    <p>Card Number <input type="text" th:field="*{cardNumber}" /></p>
    <p>Limit <input type="text" th:field="*{accountLimit}" /></p>

    <input type="submit" value="Add" />
</form>

</body>
</html>
